body{
    min-height:100vh;
    width:100vw;
    overflow-x:hidden;
}
:root {
    --primary-color: #396191;
    --blue-color: #293F8C;
    --blue-colortwo: #2F80E5;
    --blue-colorthree:#2E3192;
    --blue-colorfour:#3553bb;
    --blue-colorfive:#2563AE;
    --blue-colorsix:#293B87;
    --info-color:#45C0F2;
    --pink-color:#FF98B6;
    --Default-color:#FFFFFF;
    --warning: #E96403;
    --background-color: rgb(248 231 198);
    --Danger-Color:#E52129;
    --Danger-colortwo:#940E15;
    --maroon-color:#8F1A43;

}

@font-face {
    font-family:Myfont;
    src: url(Kestoy\ Selfie.ttf);
}

.navcontainer-fluid{
  
    height: 100px;
    background-color: var(--primary-color);
}

.Navlogo {
    margin-top: 12px;
    margin-left: 100px;
    width: 200px;
    height: 80px;
}

.welcome {
width:99%;
    height: 6550px;
    background-color: var(--background-color);
}

.welcomehead {
    color: var(--warning);
    font-family: Myfont;
    text-align: center;
    font-size: 100px;
    margin-bottom: -30px;
}

.welcomeheadtwo {
    font-size: 90px;
    font-family: Myfont;
    color: var(--blue-color);
    text-align: center;
}

.welcomepara {
    color: var(--blue-color);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.vision {
    color: #2F80E5;
    font-size: 70px;
    font-family: Myfont;
    text-align: center;
    margin-top: 60px;
}

.Visionpara {
    color: var(--blue-color);
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}

.downvisionone {
    color: var(--blue-color);
    font-size: 40px;
    font-family: Myfont;
    text-align: center;
}

.downvisiontwo {
    color: var(--blue-color);
    font-family: Myfont;
    font-size: 21px;
    text-align: center;
    margin-top: -16px;
}

.downvisionthree {
    color: var(--warning);
    font-family: Myfont;
    font-size: 40px;
    text-align: center;
    margin-top: -16px;
}

.downingredients {
    color: var(--blue-color);
    font-size: 22px;
    font-family: sans-serif;
    text-align: center;
    margin-top: -10px;

}

.downingredientstwo {
    color: var(--blue-color);
    font-size: 22px;
    font-family: sans-serif;
    text-align: center;
    margin-top: -20px;
    line-height: 1.2;
}

.biscuits {
    margin-top: -250px;
    width: 230px;
    height: 300px;
    margin-left: -30px;

}

.biscuitstwo {
    margin-top: -120px;
    width: 180px;
    height: 130px;
    float: right;

}

.wheat {
    width: 160px;
    height: 150px;
    float: right;
    margin-top: -450px;
    margin-right: -100px;

}

.responsibility {
    color: var(--blue-color);
    font-size: 40px;
    font-family: Myfont;
    text-align: center;
    margin-top: -30px;
}

.towards {
    color: var(--blue-color);
    font-family: Myfont;
    font-size: 21px;
    text-align: center;
    margin-top: -16px;
}

.Community {
    color: var(--warning);
    font-family: Myfont;
    font-size: 40px;
    text-align: center;
    margin-top: -16px;
}

.downcommunity {
    color: var(--blue-color);
    font-size: 22px;
    font-family: sans-serif;
    text-align: center;
    margin-top: -10px;
    line-height: 1.2;
}

.responsibilitytwo {
    color: var(--blue-color);
    font-size: 40px;
    font-family: Myfont;
    text-align: center;
    margin-top: 30px;
}

.towardstwo {
    color: var(--blue-color);
    font-family: Myfont;
    font-size: 21px;
    text-align: center;
    margin-top: -16px;
}

.regulation {
    color: var(--warning);
    font-family: Myfont;
    font-size: 40px;
    text-align: center;
    margin-top: -16px;
}

.downregulation {
    color: var(--blue-color);
    font-size: 22px;
    font-family: sans-serif;
    text-align: center;
    margin-top: -10px;
    line-height: 1.2;

}

.mission {
    color: var(--blue-colortwo);
    font-family: Myfont;
    font-size: 70px;
    text-align: center;
}

.missionimg {
    width: 650px;
    height: 250px;
    margin-top: -20px;
    margin-left: 300px;
}

.missionwheat {
    width: 150px;
    height: 150px;
    float: left;
    margin-top: 150px;
    margin-left: -40px;
}

.cup {
    margin-top: 200px;
    width: 150px;
    height: 150px;
    float: right;
}

.missionimgtwo {
    width: 650px;
    height: 240px;
    float: right;
    margin-top: 25px;
    margin-right: 150px;
}

.missionimgthree {
    width: 650px;
    height: 400px;
    margin-top: 30px;
    margin-left: 420px;
}

.mixer-head {
    color: var(--blue-colortwo);
    font-size: 80px;
    font-family: Myfont;
    text-align: center;
    margin-top: 100px;
}

.mixer-machine {
    margin-top: 30px;
    margin-left: 350px;
}

.peanut-img {
    width: 150px;
    height: 150px;
    margin-top: -350px;
    margin-left: 250px;
}
.mixer-machinepara{
    color:var(--blue-color);
    font-size: 18px;
    font-weight:lighter;
    font-family:sans-serif;
    text-align: center;
    line-height:1.5;
}
.downmixer-machinebiscuit{
    margin-top:-50px;
    margin-left:-100px;
    width:200px;
    height:200px;

}
.shape-formation{
    margin-top:50px;
    margin-left:320px;
}
.shape-formation-para{
    color:var(--blue-color);
    font-size: 18px;
    font-weight:lighter;
    font-family:sans-serif;
    text-align: center;
    line-height:1.5;
    margin-top:50px;
}
.oven-baking{
    margin-top: 50px;
    margin-left:220px;
}
.ovenbaking-para{
    color:var(--blue-color);
    font-size: 18px;
    font-weight:lighter;
    font-family:sans-serif;
    text-align: center;
    line-height:1.5;
    margin-top: 50px;
}
.wrapping-image{
    margin-top: 50px;
    margin-left:320px;
}
.innovativejoyforeveryone{
    margin-top:50px;
width:220px;
height:240px;
margin-left: 600px;
}
.digestive{
    margin-top:-20px;
    width:100%;
    height: 680px;
    background-color:var(--Danger-Color);
}
.digestive-head{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.digestive-para{
    color:var(--Default-color);
    font-size:23px;
    text-align: center;
    font-weight:500;
}
.digestive-image{
display: block;
margin-right:auto;
margin-left:auto;
}
.Butter-Crunch{
background-color:var(--Danger-colortwo);
width:100%;
height:800px;
}
.Butter-Crunch-logo{
    display: block;
    margin-right:auto;
    margin-left:auto;
}
.Butter-Crunch-para{
 color:var(--Default-color); 
 font-size:23px;
 text-align: center;
 font-weight:500; 
}
.jumbo{
background-color: var(--info-color);
width:100%;
height:700px;
}
.jumbo-logo{
    width:260px;
    height:150px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.jumbo-para{
color:var(--blue-colorthree);
font-size: 20px;
text-align: center;
font-weight: bold;
margin-top:20px;
line-height:1.8;
}
.jumbo-image{
width:1400px;
height:320px;
display: block;
margin-right:auto;
margin-left: auto;
}
.Olys-container{
    background-color:var(--blue-colorfour);
    height:400px;
}
.olys-image{
    width:400px;
    height:300px;
    float: right;
    margin-top:60px;
}
.olys-logo{
    margin-top:80px;
    margin-left:200px;
}
.olyspara{
    color:var(--Default-color);
    font-size: 18px;
    margin-top:30px;
    margin-left:30px;
}
.crust-container{
    width:100%;
    height:860px;
    background-color:var(--pink-color);
}
.crust-logo{
    display: block;
    margin-right:auto;
    margin-left:auto;
}
.crustpara{
    color:var(--blue-colorthree);
    font-size: 23px;
    font-weight:500;
    text-align:center;
}
.crust-image{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:1300px;
}
.toogud-container{
    width:100%;
    height:950px;
    background-color:var(--maroon-color);
}
.toogud-logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.toogudpara{
color:var(--Default-color);
font-size: 22px;
font-weight: 500;
text-align: center;
}
.toogud-image{
    width:1400px;
    height: 600px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.contactone-container{
background-color: var(--blue-colorfive);
width: 100%;
height:455px;
}
.contactone-head{
    color:var(--Default-color);
    font-size:80px;
    font-family:Myfont;
    margin-left:80px;
}
.Data{
   color: var(--Default-color);
   border: none;
   border-radius:5px;
    width:480px;
    height: 40px;
    margin-left:80px;
}
.comment{
    margin-left:75px;
    border-radius: 5px;
}
.contacttwo-head{
    background-color:var(--blue-colorsix);
    width: 100%;
    height:300px;
}
.contacttwo-btn{
    border:4px solid var(--Default-color);
    color:var(--Default-color);
    background-color: var(--blue-colorfive);
    width:220px;
    height: 50px;
    border-radius:8px;
    font-size:18px;
    font-weight: bold;
    margin-top:70px;
    margin-left:80px;
}
.contacttwo-btn:hover{
    cursor: pointer;
    background-color:var(--blue-colortwo);
}
#location{
    color:var(--Default-color);
  
margin-top:-50px;
margin-left:250px;
  
}
.location-para{
    color:var(--Default-color);
    font-size:18px;
    font-weight: bold;
    float: right;
    margin-top:80px;
    margin-right:150px;
}
#phone{
    color: var(--Default-color);
    margin-top:15px;
    margin-left:555px;
}
.phone-para{
    color:var(--Default-color);
    font-size:18px;
    font-weight: bold;
   float: right;
   margin-top:-25px;
   margin-right:650px;
}
#email{
    color: var(--Default-color);
    margin-top:25px;
    margin-left:555px;
}
.email-para{
    color:var(--Default-color);
    font-size:18px;
    font-weight: bold;
   float: right;
   margin-top:-25px;
   margin-right:575px;
}
.last-container{
    color:var(--Default-color);
    background-color:rgb(243, 232, 210);
    width: 100%;
    height: 250px;
}
.last-para{
    color:#162C77;
    font-size: 18px;
    font-weight: 600;
    margin-left:70px;
}
.facebook{
    float: right;
    margin-top:-70px;
    margin-right:200px;
}
.linkedin{
    float: right;
    margin-top:-70px;
    margin-right:140px;
}
.instagram{
    float: right;
    margin-top:-70px;
    margin-right:80px;
}
/* Innovative Biscuits Website Start Responsive */
  @media screen and (min-width:320px) and (max-width:480px) {
    .navcontainer-fluid {
        height: 100px;
        background-color: var(--primary-color);
    }

    .Navlogo {
        width: 140px;
        height: 50px;
        margin-top: 20px;
        margin-left: 10px;
    }


.welcomehead {
    font-size: 50px;
    margin-top: -80px;
}

.welcomeheadtwo {
    font-size: 50px;
    margin-top: 20px;

}

.welcomepara {
    font-size: 16px;
}

.vision {
    font-size: 50px;
}

.Visionpara {
    font-size: 16px;
}

.downvisionone {
    font-size: 35px;
}

.downvisiontwo {
    font-size: 20px;
}

.downvisionthree {
    font-size: 35px;
}

.downingredients,
.downingredientstwo {
    font-size: 16px;
    line-height: 1.1;
}

.biscuits {
    width: 120px;
    height: 120px;
}

.biscuitstwo {
    display: none;
}

.responsibility {
    font-size: 35px;
    margin-top: 20px;
}

.towards {
    font-size: 16px;
    line-height: 1.1;
}

.Community {
    font-size: 35px;

}

.downcommunity {
    font-size: 16px;
    line-height: 1.1;

}

.responsibilitytwo {
    font-size: 35px;
}

.towardstwo {
    font-size: 16px;
}

.regulation {
    font-size: 35px;
}

.downregulation {
    font-size: 16px;
    line-height: 1.1;
}

.missionimg {
    width: 250px;
    height: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.missionwheat {
    width:570px;
    height:570px;
    margin-left:50px;
    margin-top:30px;
}

.cup {
    width: 150px;
    height: 150px;
    margin-right:-60px;
    margin-top:-10px;

}

.missionimgtwo {
  
    display:none;
}

.missionimgthree {
    display: none;
}

.mixer-head {
    font-size: 50px;
    margin-top: 200px;
    margin-left: 30px;
}

.mixer-machine {
    margin-left: 100px;
    width: 250px;
    height: 300px;
}

.mixer-machinepara {

    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
}

.shape-formation {
    margin-top: 50px;
    margin-left: 10px;
    width: 300px;
    height: 400px;

}

.shape-formation-para {

    font-size: 14px;
    font-weight: bold;

    line-height: 1.5;
    margin-top: 50px;
}

.oven-baking {
    margin-top: 50px;
    margin-left: 10px;
    width: 320px;
    height: 300px;
}

.ovenbaking-para {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3;

}

.wrapping-image {
    margin-top: 50px;
    margin-left: 20px;
    width: 300px;
    height: 400px;
}

.innovativejoyforeveryone {
    margin-top: 50px;
    width: 180px;
    height: 180px;
    margin-left: 70px;
}

.digestive {
    width:100%;
    height: 430px;
    margin-top: -2200px;
}

.digestive-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 150px;
}

.digestive-para {
    font-size: 16px;
}

.Butter-Crunch {
    width: 100%;
    height: 475px;
}

.Butter-Crunch-para {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

.Butter-Crunch-image {
    width: 300px;
    height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jumbo {

    width: 100%;
    height: 500px;
}

.jumbo-logo {
    width: 230px;
    height: 120px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.jumbo-para {

    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 1.5;
}

.jumbo-image {
    width: 300px;
    height: 90px;
}

.Olys-container {
    background-color: var(--blue-colorfour);
    height: 400px;
}

.olys-image {
    width: 300px;
    height: 270px;
}

.olys-logo {
    display: none;
}

.olyspara {
    display: none;
}

.crust-container {
    width: 100%;
    height: 560px;
}

.crust-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.crustpara {
    color: var(--blue-colorthree);
    font-size: 20px;
}

.crust-image {
    width: 300px;
    height: 120px;
}

.toogud-container {
    width: 100%;
    height: 500px;
}

.toogud-logo {
    width: 120px;
    height: 80px;
}

.toogudpara {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
}

.toogud-image {
    width: 300px;
    height: 130px;
}

.contactone-container {
    background-color: var(--blue-colorfive);
    width: 100%;
    height: 400px;
}

.contactone-head {
    font-size: 50px;
    margin-top: -40px;
    margin-left: 30px;
}

.Data {
    width: 280px;
    height: 40px;
    margin-left: 30px;
}

.comment {
    border: none;
    margin-left: 30px;
    border-radius: 6px;
}

.contacttwo-head {
    width: 100%;
    height: 200px;
}

.contacttwo-btn {
    width: 200px;
    height: 45px;
    margin-top: -8px;
    margin-left: 30px;
}

#location {
    display: none;
}

.location-para {
    display: none;
}

#phone {
    color: var(--Default-color);
    margin-top: 50px;
    margin-right:0px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.phone-para {
    margin-top: -30px;
    margin-right: 90px;

}

#email {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.email-para {
    color: var(--Default-color);
    font-size: 18px;
    font-weight: normal;
    float: right;
    margin-top: -45px;
    margin-right: 25px;
}

.last-container {
    color: var(--Default-color);
    background-color: rgb(243, 232, 210);
    width: 100%;
    height:300px;
}

.last-para {
    color: #162C77;
    font-size: 18px;
    font-weight: 600;
    margin-left: 70px;
    margin-top:-30px;
}

.facebook {
    float: right;
    margin-top:0px;
    margin-right: 200px;
}

.linkedin {
    float: right;
    margin-top:-40px;
    margin-right: 140px;
}

.instagram {
    float: right;
    margin-top:-40px;
    margin-right: 80px;
}
} 